<ion-view style="" title="അറിയുക">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div class="list card">

            <div class="item item-avatar">
                <img alt="logo" ng-src="http://strangefriend.com/logo.png">
                <h2>www. StrangeFriend .com</h2>
                <p>For General Election, 2016</p>
            </div>

            <div class="item item-body">
                <img class="full-image" alt="logo" ng-src="http://strangefriend.com/njanum-koode-logo.png">
                <p>
                    This app is for the demonstration of how the democracy can be improved by direct participation of people by using latest technologies.
                </p>
            </div>

        </div>

        <div style="">
            <p>Rate us
                </p>
            </div>
        <div style="" class="button-bar">
            <button style="" class="button button-assertive button-block button-small">-1</button>
            <button style="" class="button button-energized button-block ">0</button>
            <button style="" class="button button-balanced button-block button-large">+1</button>
        </div>
        <div>
            <p>
                +1 for good attempt
                0 for no opinion
                -1 waste of time
                <strong>Thanks in Advance</strong>
            </p>
        </div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <textarea placeholder="wanna tell us something?"> </textarea>
            </label>
            <button style="" class="button button-stable button-block ">Send feedback</button>
        </form>
        <div style="height: 100px;" class="spacer"></div>
        <a style="" class="button button-royal button-block  icon-left ion-arrow-left-a" ui-sref="side-menu21.page1">വീണ്ടും തുടങ്ങുക</a>
    </ion-content>
</ion-view>
