<ion-view style="" title="അറിയുക">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h3 style="">Heading</h3>
        <div style="">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div style="height: 100px;" class="spacer"></div>
        <div style="" class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
        <div style="" class="button-bar">
            <button style="" class="button button-assertive button-block button-small">-1</button>
            <button style="" class="button button-energized button-block ">0</button>
            <button style="" class="button button-balanced button-block button-large">+1</button>
        </div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button style="" class="button button-stable button-block ">Tap me!</button>
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <a style="" class="button button-royal button-block  icon-left ion-arrow-left-a" ui-sref="side-menu21.page1">വീണ്ടും തുടങ്ങുക</a>
    </ion-content>
</ion-view>