<ion-view style="" title="ഞാനും കൂടെ">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <button ng-click="startNew()" class="button button-assertive button-block  icon-left ion-android-clipboard" ui-sref="side-menu21.page4">പരാതി സമർപ്പിക്കുക</button>
        <a style="" class="button button-energized button-block  icon-left ion-android-add-circle" ui-sref="side-menu21.page9">പരാതി തിരുത്തുക</a>
        <a style="" class="button button-balanced button-block  icon-left ion-android-checkbox-outline" ui-sref="side-menu21.page2">നടപടികൾ കാണുക</a>
        <a style="" class="button button-dark button-block  icon-left ion-alert-circled" ui-sref="side-menu21.page10">പരാതി പിൻവലിക്കുക</a>
        <a style="" class="button button-positive button-block  icon-left ion-android-bulb" ui-sref="side-menu21.page11">പരിഹാരം നിർദ്ദേശിക്കുക</a>
    </ion-content>
</ion-view>